/*{
    position: relative;
    top: -70px;
    max-width: 150px;
    border: 5px solid #fff;
}*/

.testimonial-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
}


.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.blue.lighten-2 {
    background-color: #64b5f6 !important;
}
.blue {
    background-color: #2196f3 !important;
}

.teal.lighten-2 {
    background-color: #4db6ac !important;
}
.teal {
    background-color: #009688 !important;
}

.deep-purple.lighten-2 {
    background-color: #9575cd !important;
}
.deep-purple {
    background-color: #673ab7 !important;
}

#video-carousel {
    margin: 0 auto;
    max-width: 933px; max-height: 525px;
}